:root {
    --bg-color: #fafafa;
    --bg-dark-color:#370665;
    --primary-color: #F14A16;
    --primary-color-hover: #e05125;
    --primary-color-focus: #cf522b;
    --primary-color-border-hover: #ee592c;
    --primary-color-border-focus: #c53509;
    --primary-color-box-shadow: rgb(225 83 97 / 50%);
    --secondary-color: #032541;
    --white-color: #fff;
    --grey-color: #404040;
    --light-grey-color: rgba(242, 244, 246, 0.7);
    --blue-color: #5ca0e0;
    --light-blue-color: #79b8f3;
    --black-color: #000;
    --green-color: #23804a;
    --price-color: #FC9918;
    --font-size-base: 16px;
    --font-family-base: 'Raleway', sans-serif;
    --line-height-base: 1.75;
    --container-width: 80rem;
    --container-padding: 10px;
    --button-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html,
  body {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: var(--line-height-base);
    overflow-x: hidden;
    opacity: 1;
    color: var(--grey-color);
    font-family: var(--font-family-base);
    background-color: var(--white-color);
    transition: background 0.2s linear;
  }
  
  .container {
    max-width: var(--container-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin: 0 auto;
  }
  .button {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: var(--button-transition);
    background-color: transparent;
  }
  .button:hover {
    border-color: var(--primary-color-border-hover);
    color: var(--primary-color);
  }
  .button:focus {
    border-color: var(--primary-color-border-focus);
    box-shadow: 0 0 0 0.25rem var(--primary-color-box-shadow);
  }
  .button.shop {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.button.shop:hover {
  background-color: var(--primary-color-border-hover);
  border: 2px solid var(--primary-color-border-focus);
}
section {
    padding: 60px 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    outline: 0;
    text-decoration: none;
    color: inherit;
  }
  
  a:focus,
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    max-width: 100%;
  }
  .grid {
    display: grid;
    grid-gap: 30px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .card-wraper {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
  }
  h2 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
.header {
    padding: 15px 0;
    height: 100vh;
  }
.header__nav {
    justify-content: space-between;
  }

.nav-list__link {
  padding: 8px 12px;
  transition: all .25s;
}

  .search,.cart .fa {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .search,.cart,.dark-mode {
   margin: 0 10px;
  }
.fa-shopping-cart {
  padding-top: 10px;
}


  body.dark {
    background: var(--bg-dark-color);
    color:var(--white-color);
  }
  

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.hero {
  justify-content: space-between;
  align-self: center;
  padding: 20px 30px;
}
.hero-item {
  width: 50%;
}
.desc {
  padding: 30px 50px;
}
.hero-item.desc span {
  color: var(--primary-color);
}
.hero-item .hero-item__footer {
  padding: 10px 0;
}
.hero-item .hero-item__footer .button {
  margin: 0 15px;
}
.wirelles-wrapper {
  justify-content: flex-end;
  margin-top: -200px;
}
.wirelles-item {
margin: 0 20px;
padding: 20px;
border-radius: 25px;
border: 1px solid rgba(255, 255, 255, 0.70);
background: linear-gradient(155deg, rgba(192, 192, 192, 0.63) 0%, rgba(255, 255, 255, 0.49) 0.01%, rgba(255, 255, 255, 0.07) 100%);
backdrop-filter: blur(15px);
width: 250px;
}
.wirelles-item h4 {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.48px;
margin-top: 0;
margin-bottom: 0.5rem;
}
.wirelles-item img{
  margin-top: -100px;
  width: 150px;
}
.wirelles-item span:first-child {
  color: var(--price-color);
  margin-right: 10px;
}
@media only screen and (max-width: 1200px) {
  .wirelles-wrapper {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 992px) {
  .wirelles-wrapper {
    margin-top: 100px;
    justify-content: center;
    
  }
  .wirelles-item {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }
  .hero {
    flex-direction: column;
    justify-content: initial;
  }
  .hero-item {
    width: 100%;
    text-align: center;
  }
  .wirelles-item img{
    margin-top: 0;
    
  }
}
@media only screen and (max-width: 768px) {
  
}