:root {
    --accent-color: #FC9918;
    --white-color: #fff;
    --blue-color: #35589A;
    --secondary-color: #370665;
    --orange-color: #F14A16;
    --main-color: #333;
    --dark-color: #070606;
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
    color: var(--white-color);
    font-family: 'Lato', sans-serif;
    background: var(--dark-color);
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .container {
    max-width: 80rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    position: relative;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    outline: 0;
    text-decoration: none;
    color: var(--white-color);
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    max-width: 100%;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }  
.flex {
  display: flex;
  align-items: center;

}  
.header {
  padding: 20px 0;
  height: 100vh;
  background: #370665;
  
}
.hero__image {
    background-image: url("../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }