:root {
    --accent-color: #FC9918;
    --white-color: #fff;
    --blue-color: #35589A;
    --secondary-color: #370665;
    --orange-color: #F14A16;
    --main-color: #333;
    --dark-color: #070606;
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
    color: var(--white-color);
    font-family: 'Lato', sans-serif;
    background: var(--dark-color);
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .container {
    max-width: 80rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    position: relative;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    outline: 0;
    text-decoration: none;
    color: var(--white-color);
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 54px;
    line-height: 74px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 64px;
  }
  h3 {
    font-size: 38px;
    line-height: 56px;
  }
  h4 {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 0;
  }
  h5 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 28px;
  }

.flex {
  display: flex;
  align-items: center;

}  
.grid {
  display: grid;
}

.header {
  padding: 20px 0;
  height: 100vh;
  background: #370665;
  background-image: url(../img/hero-h.png);
  background-position: bottom right;
  background-repeat: repeat;
  background-size: contain;
}

.hero__image img{
  margin-top: -150px;
}

.head-bottom {
  margin-top: -80px;
}

.wireless-wrapp {
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.wireless-item {
  border-radius: 25px;
border: 1px solid rgba(255, 255, 255, 0.70);
background: linear-gradient(155deg, rgba(192, 192, 192, 0.63) 0%, rgba(255, 255, 255, 0.49) 0.01%, rgba(255, 255, 255, 0.07) 100%);
backdrop-filter: blur(15px);
padding: 10px;
min-height: 180px;
}
.scroll-down__wrapp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}
.scroll-down__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}