body {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.2rem;
}
}


section {
  padding: 60px 0;
}
.section-title {
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 100%;
}


a {
  text-decoration: none;
  color: #212529;
}
a:hover {
  color: #FF6433;
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
}


.header .navbar-collapse{
  flex-grow: initial;
}
.header .nav-link{
  color: initial;
}

.header a:hover {
  color: #FF6433;
}

.header-info__phone {
  font-weight: 700;
}
.menu__mobile_button {
    position: relative;
    height: 26px;
    width: 40px;
    cursor: pointer;
    background-color: transparrent;
}


.menu__mobile_button span {
    position: relative;
} 

.menu__mobile_button span,
.menu__mobile_button span:before,
.menu__mobile_button span:after {
    display: block;
    width: 45px;
    height: 6px;
    background-color: #243040;
    border-radius: 2px;
  }
  .menu__mobile_button span:before, .menu__mobile_button span:after {
    content: "";
    position: absolute;
  }

  .menu__mobile_button span:before {
    bottom: -14px;
  }

  .menu__mobile_button span:after {
    bottom: -28px;
  }

.header-info__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
    text-align: center;
    background-color: #5CBA99;
    color: #fff;
    border-radius: 100%;
    margin: 0 10px;
    width: 35px;
    height: 35px;
}

.header-info {
  font-weight: 600;
}

  .to-top {
    width: 45px;
    height: 45px;
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.to-top.show {
  display: block;
  text-align: center;
  border-radius: 5px;
  background: #FF6433;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.to-top .bi {
  color:#fff;
  font-size: 32px;
  display: block;
  margin: auto;
}

.vehicle-text {
  padding-top: 50px;
  padding-right: 30px;
}
.vehicle-text h1 {
  margin-bottom: 25px;
}

.vehicle-text .bi {
  color: #939191;
  font-size: 25px;
}

.vehicle-img {
  position: relative;
}

.vehicle-service,
.vehicle-rating {
  position: absolute;
  width: 235px;
  padding: 15px;
  border-style: solid;
    border-width: 0.6rem;
    border-color: hsla(0, 0%, 88.2%, 0.35);
    border-radius: 4rem;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
}

.vehicle-service {
  top: 25px;
  left: -30px;
}

.vehicle-rating {
  bottom: 25px;
  right: -15px;
}

.vehicle-service__time {
  background-color: #5CBA99;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  color: #fff;
  padding: 10px 8px;
}

.vehicle-service__time span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.vehicle-rating__text span{
  display: block;
}

.vehicle-rating__text span:nth-child(1){
  font-weight: bold;
}

.vehicle-rating__star {
  margin-left: 15px;
}

.vehicle-rating__star .bi {
  color: #FF6433;
}
.btn-dark {
  padding: 0.75rem 1rem;
}
.btn-service {
  background-color: #FF6433;
  color: #fff!important;
  padding: 0.75rem 1rem;
}
.btn-service:hover {
  background-color: #da562d;
}
.btn-service:focus {
  background-color: #da562d;
  border-color: #ff9b20;
  box-shadow: 0 0 0 0.25rem rgba(217, 101, 6, 0.5);
}


.quote {
  background-color: #E2E6E9;
}
.quote-content__list {
  padding-right: 25px;
}
.quote-content__list-title {
  margin-bottom: 15px;
}
.quote-content__list-title h4{
  margin-left: 15px;
}
.bi-arrow-right {
  font-size: 26px;
  margin-left: 10px;
}

.timeline {
  list-style: none;
  border-left: 3px solid #FF6433;
  position: relative;
}

.timeline-item {
  position: relative;
  padding-left: 15px;
}
.timeline-icon {
  width: 65px;
  height: 65px;
  padding: 5px;
  border-radius: 100%;
  display: block;
  position: absolute;
  left: -65px;
  top: -15px;
}

.offer-link {
  display: block;
  text-align: center;
  transition: all .3s ease;
  min-height: 190px;
}
.offer-link div{
  padding-top: 20px;
}

.offer-link:hover {
  background-color: #FF6433!important;
  color: #fff;
}
.offer-link:hover img{
   filter: invert(100%);
}
.cta {
  padding: 0;
}
.cta .row>* {
  padding-left: 0;
  padding-right: 0;
}
.cta-img-left {
  background-image: url('../img/cta-left.png');
}
.cta-img-right {
  background-image: url('../img/cta-right.png');
}

.cta-img-left,
.cta-img-right {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 460px;
}
.cta-info {
  padding: 6rem 5rem;
  background-color: #FF6433;
  color:#fff;
  display: block;
  min-height: 460px;
  max-width: 600px;
  right: -90px;
  position: absolute;
  z-index: 9;
}
.experience-item {
  text-align: center;
}
.experience-heading {
  color:#661CE7;
  font-size: 3.2rem;
  font-weight: 800;
}
.experience-text {
  font-size: 24px;
}
.testimonials .section-title {
  max-width: 40rem;
}

.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #ff6433 !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #939191;
  height: 4px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #333;
  bottom: -30px;
  top: initial;
}
.testimonial-img {
  width: 4rem;
  height: 4rem;
}
.testimonial_client {
  width: 100%;
}
.carousel-control-prev {
  right: 100px;
  left: initial;
}
.carousel-control-next {
  right: 40px;
}


.faq {
  background-color: #E2E6E9;
}
.faq .accordion-item {
  padding: 10px;
  margin-bottom: 12px;
}
.faq .accordion-button {
  font-weight: 700;
  font-size: 1.3rem;
}
.faq  .accordion-button:focus {
  z-index: 3;
  border-color: initial;
  outline: 0;
  box-shadow: initial;
}
.faq .accordion-button:not(.collapsed) {
  color: #FF6433;
  background: #fff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.faq .accordion-button:not(.collapsed)::after {
  filter: invert(100%);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.footer {
  background-color: #1E1B1B;
  color: #fff;
  padding-top: 30px;

}
.social-links a{
  margin: 0 10px;
  transition: all .25s ease;
}
.social-links .bi {
  font-size: 20px;
  transition: all .25s ease;
}
.social-links a:hover .bi {
  color: #FF6433;
}
.footer a {
  color: #fff;
 }
 .footer-contact {
  font-size: 22px;
 }
 .contact-title {
  opacity: 0.6;
  font-size: 17px;
 }

 .about-us .row>* {
    padding-left: 0;
    padding-right: 0;
 }

.about-img {
  background-image: url('../img/about.jpg');
  min-height: 470px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-content,.services-content {
  padding: 5rem 6rem;
  background-color: #1E1B1B;
  color: #fff;
  height: 100%;
}

.about-customers .row>* {
  padding-left: 0;
  padding-right: 0;
}
.about-customers__img {
  padding: 4rem;
  height: 100%;
  color: #fff;
  transition: all .3s;
}
.about-customers__img h3 {
  margin-bottom: 2rem;
}
.about-customers__img p {
  transition: all .3s;
  opacity: 0.6;
}
.about-customers__img:hover p {
  opacity: 1;
}

.service-img {
    background-image: linear-gradient(180deg, rgba(255, 100, 51, 0.9), rgba(255, 100, 51, 0.9)), url('../img/cta-left.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    
}

.solutions-img {
  background-image: linear-gradient(180deg, rgba(30, 27, 27, 0.9),
   rgba(30, 27, 27, 0.9)), url('../img/cta-right.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}
.customers-img {
  background-image: linear-gradient(180deg, rgba(102, 28, 231, 0.9),
   rgba(102, 28, 231, 0.9)), url('../img/about-service.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.about-customers {
  padding-bottom: 0;
}

.services-provide .section-title {
  max-width: 48rem;
  
}

.services-provide .row>* {
  padding-left: 0;
  padding-right: 0;
}

.services-provide__item {
  padding: 4rem 3rem;
  border-top: 1px solid #e2e6e9;
  border-right: 1px solid #e2e6e9;
  border-bottom: 1px solid #e2e6e9;
  background-color: #fff;
  text-align: center;
}
.services-provide__item-icon {
  margin-bottom: 15px;
}
.services-provide__item h3{
  margin-bottom: 25px;
}

.team-item__img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}
.team-item__details {
  text-align: center;
  padding: 1.5rem 2rem;
  background-color: #1e1b1b;
  color: #fff;
}
.team-item__details p {
  opacity: 0.6;
}
.services-img {
  background-image: url('../img/services.png');
  min-height: 470px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-header .row>* {
  padding-left: 0;
  padding-right: 0;
}

.service-wrapper {
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-highlighted {
  height: 100%;
}

.service-highlighted__link {
  height: 100%;
    padding: 3rem;
    background-color: #fff;
    max-width: 100%;
    display: inline-block;
    transition: all .3s ease;
}
.service-image-wrapper {
  overflow: hidden;
  margin-bottom: 2rem;
}

.service-image {
    width: 100%;
    max-height: 20rem;
    transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    transition: transform 350ms ease, -webkit-transform 350ms ease;
    object-fit: cover;
}
.service-image:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.service-list__item-link {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 4rem 2rem;
  transition: all .3s ease;

}
.service-highlighted__link h2 {
  padding: 25px 0;
}
.service-highlighted__link p {
  font-size: 1.125rem;
  opacity: 0.6;
  line-height: 1.8;
}



.service-list {
  grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.service-list__item-link div{
  padding-top: 20px;
}

.service-list__item-link:hover {
  background-color: #FF6433!important;
  color: #fff;
}
.service-list__item-link:hover img{
   filter: invert(100%);
}
.services-details__steps {
  padding-top: 30px;
}
.services-details__step {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.services-details__step img{
  margin-right: 15px;
}
.services-details__step div {
  font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.services-details__images {
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
    height: 100%;
}
.service_details__image{
  width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.services-details__diagnostic p{
  font-size: 1.125rem;
  opacity: 0.6;
  line-height: 1.8;
}
.service-single__post article h2{
 margin-top: 2rem;
 margin-bottom: 2rem;
}
.service-single__post article p {
  padding-bottom: 1rem;
}

.blog-header__img {
  background-image: linear-gradient(180deg, rgba(30, 27, 27, 0.8), rgba(30, 27, 27, 0.8)), url('../img/blog-header.jpg');
  background-repeat: no-repeat;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-header__content {
  padding: 8rem 4rem;
    background-color: #1e1b1b;
    color: #fff;
}
.blog-header__content a {
  color: #fff;
}
.blog-header .row>* {
  padding-left: 0;
  padding-right: 0;
}
.blog-header__trend {
  color: #FF6433;
  padding: 20px 0;
}
.blog-header {
  padding-top: 0;
  padding-bottom: 0;
}
.blog-reatured__wrapper {
  background: #fff;
  padding: 2rem;
}
.blog-reatured__left-date {
  opacity: 0.6;
  padding: 20px 0;
}

.blog-reatured__left-img-link,.blog-reatured__right-link {
  overflow: hidden;
  display: inline-block;
}
.blog-reatured__left-img-link img,
.blog-reatured__right-link img{
  width: 100%;
  max-height: 20rem;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
    -o-object-fit: cover;
    object-fit: cover;
}
.blog-reatured__left-img-link img:hover,
.blog-reatured__right-link img:hover {
  transform: scale(1.15);
}

.blog-reatured__right-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

.blog-reatured__right-content {
  padding-left: 20px;
}

.blog-reatured__right-content p {
  opacity: 0.6;
}


.contact-details {
  padding-top: 8rem;
  padding-left: 1rem;
}
.contact-text {
  font-size: 24px;
}





 .footer-bottom {
  padding: 25px 0;
  background-color: #1E1B1B;
 }
 .footer-bottom nav a:hover{
  color: #FF6433;
 }

 @media only screen and (max-width: 992px) {
  .team-item__img img {
    height: 40rem;
  }
}