body {
    font-family: 'Manrope', sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
section {
  padding: 60px 0;
}
.section-title {
  margin: 0 auto;
}
img {
  max-width: 100%;
}


a {
  text-decoration: none;
  color: #212529;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}



.header .navbar-collapse{
  flex-grow: initial;
}
.header .nav-link{
  color: initial;
}

.header a:hover {
  color: #FF6433;
}

.header-info__phone {
  font-weight: 700;
}
.menu__mobile_button {
    position: relative;
    height: 26px;
    width: 40px;
    cursor: pointer;
    background-color: transparrent;
}


.menu__mobile_button span {
    position: relative;
} 

.menu__mobile_button span,
.menu__mobile_button span:before,
.menu__mobile_button span:after {
    display: block;
    width: 45px;
    height: 6px;
    background-color: #243040;
    border-radius: 2px;
  }
  .menu__mobile_button span:before, .menu__mobile_button span:after {
    content: "";
    position: absolute;
  }

  .menu__mobile_button span:before {
    bottom: -14px;
  }

  .menu__mobile_button span:after {
    bottom: -28px;
  }

.header-info__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
    text-align: center;
    background-color: #5CBA99;
    color: #fff;
    border-radius: 100%;
    margin: 0 10px;
    width: 35px;
    height: 35px;
}

.header-info {
  font-weight: 600;
}

  .to-top {
    width: 45px;
    height: 45px;
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.to-top.show {
  display: block;
  text-align: center;
  border-radius: 5px;
  background: #FF6433;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.to-top .bi {
  color:#fff;
  font-size: 32px;
  display: block;
  margin: auto;
}

.vehicle-text {
  padding-top: 50px;
  padding-right: 30px;
}
.vehicle-text h1 {
  margin-bottom: 25px;
}

.vehicle-text .bi {
  color: #939191;
  font-size: 25px;
}

.vehicle-img {
  position: relative;
}

.vehicle-service,
.vehicle-rating {
  position: absolute;
  width: 235px;
  padding: 15px;
  border-style: solid;
    border-width: 0.6rem;
    border-color: hsla(0, 0%, 88.2%, 0.35);
    border-radius: 4rem;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
}

.vehicle-service {
  top: 25px;
  left: -30px;
}

.vehicle-rating {
  bottom: 25px;
  right: -15px;
}

.vehicle-service__time {
  background-color: #5CBA99;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  color: #fff;
  padding: 10px 8px;
}

.vehicle-service__time span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.vehicle-rating__text span{
  display: block;
}

.vehicle-rating__text span:nth-child(1){
  font-weight: bold;
}

.vehicle-rating__star {
  margin-left: 15px;
}

.vehicle-rating__star .bi {
  color: #FF6433;
}
.btn-dark {
  padding: 0.75rem 1rem;
}
.btn-service {
  background-color: #FF6433;
  color: #fff!important;
  padding: 0.75rem 1rem;
}
.btn-service:hover {
  background-color: #da562d;
}
.btn-service:focus {
  background-color: #da562d;
  border-color: #ff9b20;
  box-shadow: 0 0 0 0.25rem rgba(217, 101, 6, 0.5);
}


.quote {
  background-color: #E2E6E9;
}
.quote-content__list {
  padding-right: 25px;
}
.quote-content__list-title {
  margin-bottom: 15px;
}
.quote-content__list-title h4{
  margin-left: 15px;
}
.bi-arrow-right {
  font-size: 26px;
  margin-left: 10px;
}

.timeline {
  list-style: none;
  border-left: 3px solid #FF6433;
  position: relative;
}

.timeline-item {
  position: relative;
  padding-left: 15px;
}
.timeline-icon {
  width: 65px;
  height: 65px;
  padding: 5px;
  border-radius: 100%;
  display: block;
  position: absolute;
  left: -65px;
  top: -15px;
}

.offer-link {
  display: block;
  text-align: center;
  transition: all .3s ease;
  min-height: 190px;
}
.offer-link div{
  padding-top: 20px;
}

.offer-link:hover {
  background-color: #FF6433!important;
  color: #fff;
}
.offer-link:hover img{
   filter: invert(100%);
}
.cta {
  padding: 0;
}
.cta .row>* {
  padding-left: 0;
  padding-right: 0;
}
.cta-img-left {
  background-image: url('../img/cta-left.png');
}
.cta-img-right {
  background-image: url('../img/cta-right.png');
}

.cta-img-left,
.cta-img-right {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 460px;
}
.cta-info {
  padding: 8rem;
  background-color: #FF6433;
  color:#fff;
  display: block;
  min-height: 460px;
  max-width: 700px;
  right: -50px;
  position: absolute;
}
.experience-item {
  text-align: center;
}
.experience-heading {
  color:#661CE7;
  font-size: 3.2rem;
  font-weight: 800;
}
.experience-text {
  font-size: 24px;
}
.testimonials .section-title {
  max-width: 40rem;
}
.faq {
  background-color: #E2E6E9;
}

.faq  .accordion-button:focus {
  z-index: 3;
  border-color: #FF6433;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 157, 13, 0.25);
}
.faq .accordion-button:not(.collapsed) {
  color: #FF6433;
  background: #fff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.faq .accordion-button:not(.collapsed)::after {
  filter: invert(100%);
}