html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  p {
      margin-bottom: 1rem;
      font-size: inherit;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }
  
  section {
    padding: 0;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top:0;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .medium {
    width:50%;
  }
  .small {
    width:25%;
  }
  .container {
    max-width:80rem;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
  }
  .swiper.animeslide {
    height: 100vh;
  }
  .animeslide-slide {
    color:#fff;
  }
  
  .animeslide-slide {
    position: relative;
    padding: 15px 0;
    min-height: 500px;
    background-size: cover;
  }
  .animeslide-slide .container {
    position: relative;
  }
  .animeslide-slide.swiper-slide-active [data-animate] {
    opacity: 1;
    transform: none;
  }
  .animeslide-slide.swiper-slide-active .animeslide-heading {
    transition-delay: 0.6s;
  }
  .animeslide-slide.swiper-slide-active .animeslide-desc {
    transition-delay: 1s;
  }
  .animeslide-heading {
    margin-bottom: 25px;
    transition-delay: 3s;
  }
  .animeslide-heading span {
    font-size: 16px;
    background-color: #f08723;
    padding: 6px 12px 7px;
    border-radius: 8px;
    font-weight: normal;
  }
  .animeslide-desc {
    padding: 15px 22px;
    border-radius: 8px;
    background-color: #202238;
    max-width: 480px;
    opacity: 0.9;
  }
  
  [data-animate] {
    opacity: 0;
    transition: all 0.8s ease-out;
  }
  [data-animate="bottom"] {
    transform: translate3d(0, 15px, 0);
  }
  
  .animeslide-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    background-color: #202238;
    max-width: 600px;
    z-index: 1;
    padding: 35px 35px;
    right: 0;
    font-size: 14px;
  }
  .animeslide-bottom .cell {
    position: relative;
    opacity: 1;
    z-index: 2;
    height: 40px;
    bottom: inherit;
  }
  .animeslide-bottom .animeslide-scrollbar {
    margin-top: 16px;
  }
  .animeslide-bottom .animeslide-scrollbar-drag {
    height: 6px;
  }
  .animeslide-bottom .animeslide-pagination {
    font-size: 25px;
    bottom: inherit;
    color:#fff;
  }
  .animeslide-bottom .animeslide-pagination b {
    font-size: 28px;
    margin-top: -5px;
  }
  
  .animeslide-bottom .animeslide-pagination span {
    padding-left: 5px;
    padding-right: 5px;
  }
  .animeslide-button-next,
  .animeslide-button-prev {
    outline: none;
  }
  .animeslide-button-next::after,
  .animeslide-button-prev::after {
    font-size: 22px;
    color: #fff;
  }